<form method="post" data-url="{% url 'add_archive' cote %}" class="add-archive">{% csrf_token %}
    <div class ="modal-header">
        <h3 class="modal-title">Creation d'archives</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Boite d'archive :{{form.boite}}</p>
        <p>COTE : <strong>{{division.cote}}- </strong>{{form.numero}}</p>
        <p>Nom :{{form.nom}}</p>
        <p>Nombre de sous dossier :{{form.nbrSousDoc}}</p>
        <p>Description :{{form.description}}</p>
        <p>Date extrême minimale :{{form.dateExtrem_min}}</p>
        <p>Date extrême maximale :{{form.dateExtrem_max}}</p>
        <p>Date limite de conservation :{{form.dua}}</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="search_button trans_300" value="Submit"> ENREGISTRER</button>
    </div>

</form>
               