<form method="post" data-url="{% url 'update_archive' archive.cote %}" class="form-update-archive">{% csrf_token %}
        <div class ="modal-header">
    		<h5 class="modal-tital">Modifier l'archive </h5>
    		<button type="button" class="close" data-dismiss="modal" aria-label="close">
    			<span aria-hidden="true">&times;</span>
    		</button>
            
    	</div>
    	<div class="modal-body">
            <table>
        	    <tr><td> N0M</td><td>{{form.nom}}</td></tr>
                <tr><td>BOITE</td><td>{{form.boite}}</td></tr>
                <tr><td>COTE</td><td>{{form.cote}}</td></tr>
                <tr><td>DESCRIPTION</td><td>{{form.description}}</td></tr>
                <tr><td>SOUS DOSSIER</td><td>{{form.nbrSousDoc}}</td></tr>
                <tr><td>DATE EXTREME MIN</td><td>{{form.dateExtrem_min}}</td></tr>
                <tr><td>DATE EXTREM MAX</td><td>{{form.dateExtrem_max}}</td></tr>
                <tr><td>DUREE D'UTILITE</td><td>{{form.dua}}</td></tr>
            </table>
        </div>
                <div class="modal-footer">
            <button type="submit" class="btn btn-success" value="Submit"> ENREGISTRER</button>
        </div>
</form>


