<h3>DETAIL DE L'ARCHIVE</h3>
<hr>

<h5>COTE : {{archive.cote}}</h5>
<h5>BOITE : {{archive.boite}}</h5>
<h5>DESCRIPTION : {{archive.description}}</h5>
<h5>NOMBRE DE SOUS DOSSIERS : {{archive.nbrSousDoc}}</h5>
<h5>DATE D'AJOUT : {{archive.dateAjout}}</h5>
<h5>STATUT : {{archive.present}}</h5>
<h5>DATE EXTREME MIN : {{archive.dateExtrem_min}}</h5>
<h5>DATE EXTREME MAX: {{archive.dateExtrem_max}}</h5>

<a href="#" class="btn btn-primary"><i class="fa fa-info"></i> MODIFIER</a>
<a href="#" class="btn btn-danger"><i class="fa fa-info"></i> SUPPRIMER</a>
