{% extends "repertoire/base.html" %}
{% load static %}

{% block linkdashboard %} {% url 'repertoire_dashboard' repertoire.repertoire_id %} {% endblock %}

{% block page-header %} <h1>Dashboard <small>{{repertoire.nom}} </small></h1> {% endblock %}

{% block content %}
 <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-sm-3">
                        <div class="box-stat box-left-primary">
                            <a href=""><h4 class="title-primary center">NOMBRE D'ARCHIVES</h4></a>
                            <p class="stat-value center">{{archive}}</p>
          
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box-stat box-left-warning">
                            <a href=""><h4 class="title-warning center">NOMBRE DE PRETS</h4></a>
                            <p class="stat-value center">0</p>
          
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box-stat box-left-danger">
                            <a href=""><h4 class="title-danger center"> FIN DE CONSERVATION</h4></a>
                            <p class="stat-value center">0</p>
          
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="box-stat box-left-success">
                            <a href=""><h4 class="title-success center"> ARCHIVISTES</h4></a>
                            <p class="stat-value center">1</p>
          
                        </div>
                    </div>
                </div>
                <div class="center"><a class='btn btn-success serie-form active'  href="#">AJOUTER VOTRE PREMIERE SERIE</a></div>
               
                <!-- end: PAGE CONTENT-->
{% endblock %}