{% extends "repertoire/base.html" %}
{% load static %}

{% block breadcrumb %}

	<ul class="tabs">
		<li class="tab-link current" data-tab="tab-1">INFORMATIONS DU REPERTOIRE</li>
		<li class="tab-link" data-tab="tab-2">GESTION DES ARCHIVISTES</li>
		<li class="tab-link" data-tab="tab-3">INFORMATIONS DE FACTURATION</li>
		<li class="tab-link" data-tab="tab-4">INFORMATIONS PERSONNELLES</li>
	</ul>


{% endblock %}


{% block page-header %}
   
{% endblock %}



{% block content %}



	<div id="tab-1" class="tab-content current">
		<form method="POST" name="form" class="form-detail" enctype="multipart/form-data">{% csrf_token %}
            <table>
        	    <tr><td> IDENTIFIANT DU REPERTOIRE :  </td><td>{{repertoire.repertoire_id}}</td></tr>
                {{form.as_table}}
                <tr><td>PROPRIETAIRE :   </td><td>{{repertoire.admin}}</td></tr>
            </table>
            <hr>
            <a  class="btn btn-danger trans_300" href="{% url 'delete_repertoire' repertoire.repertoire_id %} "> SUPPRIMER</a>
            <button class="btn btn-teal" type="submit">
                Mettre à jour <i class="fa fa-arrow-circle-right"></i>
            </button>
		</form>
	</div>


	<div id="tab-2" class="tab-content"> 
   		<table class="table table-striped table-bordered table-hover" id="projects">
        	<thead>
            	<tr>
                	<th>Nom</th>
                	<th class="hidden-xs">Email</th>
                	<th>N Telephone</th>
              		<th class="hidden-xs">Debut d'activité</th>
                	<th class="hidden-xs center">Rôle</th>
                	<th></th>
            	</tr>
        	</thead>
        	<tbody>
            	<tr>
                	<td>{{repertoire.admin.name}}</td>
                	<td class="hidden-xs">{{repertoire.admin.email}}</td>
                	<td>{{repertoire.admin.phone_number}}</td>
                	<td class="hidden-xs">
                    	{{repertoire.admin.date_joined}}
                	</td>
               		<td class="center hidden-xs"><span class="label label-danger">ADMINISTRATEUR</span></td>
                	<td class="center">
                    	<div class="visible-md visible-lg hidden-sm hidden-xs">
                        	<a href="#" class="btn btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>                               
                        	<a href="#" class="btn btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                    	</div>                                                                
                    	<div class="visible-xs visible-sm hidden-md hidden-lg">
                        	<div class="btn-group">
                            	<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                	<i class="fa fa-cog"></i> <span class="caret"></span>
                            	</a>
                            	<ul role="menu" class="dropdown-menu pull-right">                                
                                	<li role="presentation">                                
                                    	<a role="menuitem" tabindex="-1" href="#">                                
                                        	<i class="fa fa-edit"></i> Edit                                
                                    	</a>                                
                                	</li>                                
                                   	<li role="presentation">
                                    	<a role="menuitem" tabindex="-1" href="#">
                                        	<i class="fa fa-times"></i> Remove
                                    	</a>
                                	</li>                                
                            	</ul>
                        	</div>
                    	</div>
               	 	</td>
            	</tr>
             {% if repertoire.manager %}{% for manager in repertoire.manager.all %}
            	<tr>
                	<td>{{manager.name}}</td>
                	<td class="hidden-xs">{{manager.email}}</td>
                	<td>{{manager.phone_number}}</td>
                	<td class="hidden-xs">
                    	{{manager.Date_joined}}
                	</td>
               		<td class="center hidden-xs"><span class="label label-success">MANAGER</span></td>
                	<td class="center">
                    	<div class="visible-md visible-lg hidden-sm hidden-xs">
                        	<a href="#" class="btn btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>                               
                        	<a href="#" class="btn btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                    	</div>                                                                
                    	<div class="visible-xs visible-sm hidden-md hidden-lg">
                        	<div class="btn-group">
                            	<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                	<i class="fa fa-cog"></i> <span class="caret"></span>
                            	</a>
                            	<ul role="menu" class="dropdown-menu pull-right">                                
                                	<li role="presentation">                                
                                    	<a role="menuitem" tabindex="-1" href="#">                                
                                        	<i class="fa fa-edit"></i> Edit                                
                                    	</a>                                
                                	</li>                                
                                	<li role="presentation">
                                    	<a role="menuitem" tabindex="-1" href="#">
                                        	<i class="fa fa-times"></i> Remove
                                    	</a>
                                	</li>                                
                            	</ul>
                        	</div>
                    	</div>
               	 	</td>
            	</tr>
              {% endfor %}{% endif %}
        	</tbody>
    	</table><hr>
 		<div class ="center">
			<a class='btn btn-success'  href="#">Ajouter un manager</a>
		</div>
	</div>


	<div id="tab-4" class="tab-content ">
        <div class="row">
            <form method="POST" name="userform" enctype="multipart/form-data">{% csrf_token %}
                <div class="col-md-6">
                    <div class="form-group">
                        {{userform.as_p}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">
                            Role :
                        </label>
                        {{user.role}}
                    </div>
                    <div >
                        <button class="btn btn-teal btn-block" type="submit">
                            Mettre à jour <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </div>
                                        

            </form>
                                        
            <div class="col-md-8">
                <p>
                    En cliquant sur ce boutton vous acceptez nos règles et conditions d'utilisation.
                </p>
            </div>
                                            
                                        
        </div>
                                    
	

{% endblock %}