{% extends "repertoire/base.html" %}
{% load static %}

{% block breadcrumb %}

	<ul class="tabs">
		<li class="tab-link current" data-tab="tab-1">INFORMATIONS DU REPERTOIRE</li>
		<li class="tab-link" data-tab="tab-2">GESTION DES ARCHIVISTES</li>
		<li class="tab-link" data-tab="tab-3">INFORMATIONS DE FACTURATION</li>
		<li class="tab-link" data-tab="tab-4">INFORMATIONS PERSONNELLES</li>
	</ul>


{% endblock %}


{% block page-header %}
   
{% endblock %}



{% block content %}



	<div id="tab-1" class="tab-content current">
		<form method="POST" class="form-detail" enctype="multipart/form-data">{% csrf_token %}
            <table>
        	    <tr><td> IDENTIFIANT </td><td>{{repertoire.repertoire_id}}</td></tr>
                <tr><td>NOM </td><td>{{form.nom}}</td></tr>
                <tr><td>DESCRIPTION </td><td>{{form.description}}</td></tr>
                <tr><td>PROPRIETAIRE ---  </td><td>{{repertoire.admin}}</td></tr>
            </table>
            <hr>
            <a  class="btn btn-danger trans_300" href=""> SUPPRIMER</a>
            <a  class="btn btn-warning trans_300" href="" > ANNULER</a>
            <button type="submit" class="btn btn-success trans_300" value="submit"> SAUVEGARDER</button>
		</form>
	</div>


	<div id="tab-2" class="tab-content"> 
   		<table class="table table-striped table-bordered table-hover" id="projects">
        	<thead>
            	<tr>
                	<th>Nom</th>
                	<th class="hidden-xs">Email</th>
                	<th>N Telephone</th>
              		<th class="hidden-xs">Debut d'activité</th>
                	<th class="hidden-xs center">Rôle</th>
                	<th></th>
            	</tr>
        	</thead>
        	<tbody>
            	<tr>
                	<td>{{repertoire.admin.name}}</td>
                	<td class="hidden-xs">{{repertoire.admin.email}}</td>
                	<td>{{repertoire.admin.phone_number}}</td>
                	<td class="hidden-xs">
                    	{{repertoire.admin.date_joined}}
                	</td>
               		<td class="center hidden-xs"><span class="label label-danger">ADMINISTRATEUR</span></td>
                	<td class="center">
                    	<div class="visible-md visible-lg hidden-sm hidden-xs">
                        	<a href="#" class="btn btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>                               
                        	<a href="#" class="btn btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                    	</div>                                                                
                    	<div class="visible-xs visible-sm hidden-md hidden-lg">
                        	<div class="btn-group">
                            	<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                	<i class="fa fa-cog"></i> <span class="caret"></span>
                            	</a>
                            	<ul role="menu" class="dropdown-menu pull-right">                                
                                	<li role="presentation">                                
                                    	<a role="menuitem" tabindex="-1" href="#">                                
                                        	<i class="fa fa-edit"></i> Edit                                
                                    	</a>                                
                                	</li>                                
                                   	<li role="presentation">
                                    	<a role="menuitem" tabindex="-1" href="#">
                                        	<i class="fa fa-times"></i> Remove
                                    	</a>
                                	</li>                                
                            	</ul>
                        	</div>
                    	</div>
               	 	</td>
            	</tr>
             {% if repertoire.manager %}{% for manager in repertoire.manager.all %}
            	<tr>
                	<td>{{manager.name}}</td>
                	<td class="hidden-xs">{{manager.email}}</td>
                	<td>{{manager.phone_number}}</td>
                	<td class="hidden-xs">
                    	{{manager.Date_joined}}
                	</td>
               		<td class="center hidden-xs"><span class="label label-success">MANAGER</span></td>
                	<td class="center">
                    	<div class="visible-md visible-lg hidden-sm hidden-xs">
                        	<a href="#" class="btn btn-teal tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-edit"></i></a>                               
                        	<a href="#" class="btn btn-bricky tooltips" data-placement="top" data-original-title="Remove"><i class="fa fa-times fa fa-white"></i></a>
                    	</div>                                                                
                    	<div class="visible-xs visible-sm hidden-md hidden-lg">
                        	<div class="btn-group">
                            	<a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
                                	<i class="fa fa-cog"></i> <span class="caret"></span>
                            	</a>
                            	<ul role="menu" class="dropdown-menu pull-right">                                
                                	<li role="presentation">                                
                                    	<a role="menuitem" tabindex="-1" href="#">                                
                                        	<i class="fa fa-edit"></i> Edit                                
                                    	</a>                                
                                	</li>                                
                                	<li role="presentation">
                                    	<a role="menuitem" tabindex="-1" href="#">
                                        	<i class="fa fa-times"></i> Remove
                                    	</a>
                                	</li>                                
                            	</ul>
                        	</div>
                    	</div>
               	 	</td>
            	</tr>
              {% endfor %}{% endif %}
        	</tbody>
    	</table><hr>
 		<div class ="center">
			<a class='btn btn-success'  href="#">Ajouter un manager</a>
		</div>
	</div>


	<div id="tab-4" class="tab-content ">
                                <div class="row">
                                    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Nom
                                                    </label>
                                                    {{userform.name}}
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Prenoms
                                                    </label>
                                                    {{userform.last_name}}
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Email Address
                                                    </label>
                                                    <input type="email"class="form-control" id="email" name="email" value={{user.email}}>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Telephone
                                                    </label>
                                                    {{userform.phone_number}}
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Role
                                                    </label>
                                                    {{user.role}}
                                                </div>
                                                <div >
                                                    <button class="btn btn-teal btn-block" type="submit">
                                                        Mettre à jour <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        

                                    </form>
                                            <div class="col-md-6">
                                                <div class="form-group connected-group">
                                                    <label class="control-label">
                                                        Date de naissance
                                                    </label>
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <select name="dd" id="dd" class="form-control">
                                                                <option value="">DD</option>
                                                                <option value="01">1</option>
                                                                <option value="02">2</option>
                                                                <option value="03">3</option>
                                                                <option value="04">4</option>
                                                                <option value="05">5</option>
                                                                <option value="06">6</option>
                                                                <option value="07">7</option>
                                                                <option value="08">8</option>
                                                                <option value="09">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                                <option value="13">13</option>
                                                                <option value="14">14</option>
                                                                <option value="15">15</option>
                                                                <option value="16">16</option>
                                                                <option value="17">17</option>
                                                                <option value="18">18</option>
                                                                <option value="19">19</option>
                                                                <option value="20">20</option>
                                                                <option value="21" selected="selected">21</option>
                                                                <option value="22">22</option>
                                                                <option value="23">23</option>
                                                                <option value="24">24</option>
                                                                <option value="25">25</option>
                                                                <option value="26">26</option>
                                                                <option value="27">27</option>
                                                                <option value="28">28</option>
                                                                <option value="29">29</option>
                                                                <option value="30">30</option>
                                                                <option value="31">31</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <select name="mm" id="mm" class="form-control">
                                                                <option value="">MM</option>
                                                                <option value="01">1</option>
                                                                <option value="02">2</option>
                                                                <option value="03">3</option>
                                                                <option value="04">4</option>
                                                                <option value="05">5</option>
                                                                <option value="06">6</option>
                                                                <option value="07">7</option>
                                                                <option value="08">8</option>
                                                                <option value="09">9</option>
                                                                <option value="10" selected="selected">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="text" placeholder="1982" id="yyyy" name="yyyy" class="form-control">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Genre
                                                    </label>
                                                    <div>
                                                        <label class="radio-inline">
                                                            <input type="radio" class="grey" value="" name="gender" id="gender_female">
                                                            F
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" class="grey" value="" name="gender" id="gender_male" checked="checked">
                                                            M
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label class="control-label">
                                                                Code Postal
                                                            </label>
                                                            <input class="form-control" placeholder="12345" type="text" name="zipcode" id="zipcode">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <label class="control-label">
                                                                Ville
                                                            </label>
                                                            <input class="form-control tooltips" placeholder="London (UK)" type="text" data-original-title="We'll display it when you write reviews" data-rel="tooltip" title="" data-placement="top" name="city" id="city">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        Photo de Profil
                                                    </label>
                                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                                        <div id="kv-avatar-errors-2" class="center-block" style="display:none"></div>
                                                        <div class="kv-avatar ">
                                                            <input id="avatar-2" name="avatar" type="file" class="file-loading">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3>Informations complementaires</h3>
                                                <hr>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Twitter
                                                    </label>
                                                    <span class="input-icon">
                                                        <input class="form-control" type="text" placeholder="Text Field">
                                                        <i class="clip-twitter"></i>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Facebook
                                                    </label>
                                                    <span class="input-icon">
                                                        <input class="form-control" type="text" placeholder="Text Field">
                                                        <i class="clip-facebook"></i>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Google Plus
                                                    </label>
                                                    <span class="input-icon">
                                                        <input class="form-control" type="text" placeholder="Text Field">
                                                        <i class="clip-google-plus"></i>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Github
                                                    </label>
                                                    <span class="input-icon">
                                                        <input class="form-control" type="text" placeholder="Text Field">
                                                        <i class="clip-github-2"></i>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Linkedin
                                                    </label>
                                                    <span class="input-icon">
                                                        <input class="form-control" type="text" placeholder="Text Field">
                                                        <i class="clip-linkedin"></i>
                                                    </span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Skype
                                                    </label>
                                                    <span class="input-icon">
                                                        <input class="form-control" type="text" placeholder="Text Field">
                                                        <i class="clip-skype"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div>
                                                    Required Fields
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <p>
                                                    En cliquant sur ce boutton vous acceptez nos règles et conditions d'utilisation.
                                                </p>
                                            </div>
                                            
                                        </div>
                                </div>
                                    
	

{% endblock %}