{% extends "repertoire/base.html" %}
{% load static %}

{% block linkrepertoire %} {% url 'repertoire_archives' repertoire.repertoire_id %} {% endblock %}

{% block page-header %} <h1>REPERTOIRE <small>{{repertoire.nom}} </small>{{repertoire.repertoire_id}}------{{request.session.repertoire_id}}</h1> {% endblock %}
{% block breadcrumb %}
    <li>
        <a class='btn btn-default serie-form active'  href="#">Ajouter serie</a>
    </li>
    <li class="active">
        <a class='btn btn-default sousserie-form active'  href="#">Ajouter sous-serie</a>
    </li>
    <li>
    	<a class='btn btn-default division-form active'  href="#">Ajouter division</a>
    </li>
    <li>
    	<a class='btn btn-default archives-form active'  href="#">Ajouter archives</a>
    </li>
    <li>
    	<a class='btn btn-default  active'  href="{% url 'create_boitearchive' repertoire.repertoire_id %}">Ajouter boite d'archives</a>
    </li>
    <li class="search-box">
        <form class="sidebar-search">
            <div class="form-group">
                <input type="text" id ="input-search" placeholder="Start Searching...">
                <button class="submit">
                    <i class="clip-search-3"></i>
                </button>
            </div>
        </form>
    </li>

 {% endblock %}

{% block content %}


<hr>
<div class="row">

	<div id="repertoire" class="col-sm-6"> 
	</div>

	<div class="col-sm-6">
    	<div id="recher">
        	<div class="panel panel-default">
        		<div class="panel-heading">
          		</div>
          		<div id="search-output" class="panel-body"> </div>
        	</div>
    	</div>
	</div>
</div>

<div class="row">	
	<div id="tree13" class= "col-sm-6"></div>
</div>

<!-- modal create serie sserie division archive -->
<div class="modal fade" id ="modal-serie">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>

<div class="modal fade" id ="modal-sousserie">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>

<div class="modal fade" id ="modal-division">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>

<div class="modal fade" id ="modal-archives">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>

<div class="modal fade" id ="modal-btarchive">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>


<!-- modal detail serie sserie division archive -->
<div class="modal fade" id ="modal-detailserie">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>

<div class="modal fade" id ="modal-detailsserie">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>

<div class="modal fade" id ="modal-detaildivision">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>

<div class="modal fade" id ="modal-detailarchive">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>

<!-- modal update data ---->

<div class="modal fade" id ="modal-serie-update">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>



<!-- modal delete data ---->

<div class="modal fade" id ="modal-delete-serie">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>

{% endblock %}